In [46]:
import pandas as pd
import sqlite3

# === Step 1: Load CSV and JSON data ===
order_data = pd.read_csv("orders.csv")       # Load order records
user_data = pd.read_json("users.json")       # Load user profiles

# === Step 2: Extract SQL table from script ===
with sqlite3.connect(":memory:") as db:
    with open("restaurants.sql", "r") as file:
        db.executescript(file.read())        # Execute SQL schema and inserts
    restaurant_data = pd.read_sql_query("SELECT * FROM restaurants", db)

# === Step 3: Merge all datasets ===
# First join: orders + users on 'user_id'
# Second join: result + restaurants on 'restaurant_id'
combined_df = (
    order_data.merge(user_data, on="user_id", how="left")
              .merge(restaurant_data, on="restaurant_id", how="left")
)

# === Step 4: Format date column ===
combined_df["order_date"] = pd.to_datetime(combined_df["order_date"], dayfirst=True)

In [47]:
import pandas as pd

# === Order Trends Over Time ===

# Step 1: Orders per month
df["month"] = df["order_date"].dt.to_period("M")
monthly_orders = df.groupby("month")["order_id"].count()
print("Orders per month:\n", monthly_orders)

# Step 2: Revenue per month
monthly_revenue = df.groupby("month")["total_amount"].sum()
print("\nRevenue per month:\n", monthly_revenue)

# Step 3: Revenue per quarter
df["quarter"] = df["order_date"].dt.quarter
quarterly_revenue = df.groupby("quarter")["total_amount"].sum()
print("\nRevenue per quarter:\n", quarterly_revenue)

Orders per month:
 month
2023-01    804
2023-02    785
2023-03    903
2023-04    812
2023-05    844
2023-06    784
2023-07    859
2023-08    851
2023-09    812
2023-10    863
2023-11    807
2023-12    849
2024-01     27
Freq: M, Name: order_id, dtype: int64

Revenue per month:
 month
2023-01    645818.76
2023-02    630867.40
2023-03    716738.98
2023-04    666097.18
2023-05    668428.61
2023-06    610822.93
2023-07    688559.45
2023-08    694987.58
2023-09    653838.07
2023-10    699187.73
2023-11    637772.43
2023-12    681303.50
2024-01     17201.50
Freq: M, Name: total_amount, dtype: float64

Revenue per quarter:
 quarter
1    2010626.64
2    1945348.72
3    2037385.10
4    2018263.66
Name: total_amount, dtype: float64

In [48]:
# === USER BEHAVIOR PATTERNS ===

# Step 1: Total spend per user
spend_by_user = df.groupby("user_id")["total_amount"].sum()
print("Total spend per user:\n", spend_by_user)

# Step 2: Average order value per user
avg_value_by_user = df.groupby("user_id")["total_amount"].mean()
print("\nAverage order value per user:\n", avg_value_by_user)

# Step 3: Number of orders per user (sorted descending)
orders_by_user = df.groupby("user_id")["order_id"].count().sort_values(ascending=False)
print("\nNumber of orders per user:\n", orders_by_user)

# Step 4: Count of repeat customers (users with >1 order)
repeat_customer_count = (df.groupby("user_id")["order_id"].count() > 1).sum()
print("\nNumber of repeat customers:", repeat_customer_count)

Total spend per user:
 user_id
1       1289.66
2       7564.12
3       1839.51
4       3741.16
5       5742.88
         ...
2996    1533.54
2997    5310.32
2998    4241.47
2999     643.89
3000    2226.63
Name: total_amount, Length: 2883, dtype: float64

Average order value per user:
 user_id
1       1289.660000
2        756.412000
3        919.755000
4        935.290000
5       1148.576000
           ...
2996     511.180000
2997    1062.064000
2998     706.911667
2999     643.890000
3000    1113.315000
Name: total_amount, Length: 2883, dtype: float64

Number of orders per user:
 user_id
2973    13
1515    12
496     11
874     11
1337    11
        ..
2961     1
2957     1
2951     1
1276     1
1272     1
Name: order_id, Length: 2883, dtype: int64

Number of repeat customers: 2539

In [49]:
# === CITY-WISE PERFORMANCE ===

# Step 1: Total revenue generated by each city
city_revenue = df.groupby("city")["total_amount"].sum()
print("Revenue by city:\n", city_revenue)

# Step 2: Number of orders placed in each city
city_orders = df.groupby("city")["order_id"].count()
print("\nOrders by city:\n", city_orders)

# Step 3: Average order value for each city
city_avg_order_value = df.groupby("city")["total_amount"].mean()
print("\nAverage order value by city:\n", city_avg_order_value)

Revenue by city:
 city
Bangalore    2206946.58
Chennai      1990513.03
Hyderabad    1889366.58
Pune         1924797.93
Name: total_amount, dtype: float64

Orders by city:
 city
Bangalore    2751
Chennai      2469
Hyderabad    2350
Pune         2430
Name: order_id, dtype: int64

Average order value by city:
 city
Bangalore    802.234308
Chennai      806.202118
Hyderabad    803.985779
Pune         792.097914
Name: total_amount, dtype: float64

In [50]:
# === CUISINE-WISE PERFORMANCE ===

# Step 1: Total revenue generated by each cuisine
cuisine_revenue = df.groupby("cuisine")["total_amount"].sum()
print("Revenue by cuisine:\n", cuisine_revenue)

# Step 2: Number of orders placed for each cuisine
cuisine_orders = df.groupby("cuisine")["order_id"].count()
print("\nOrders by cuisine:\n", cuisine_orders)

# Step 3: Average order value for each cuisine
cuisine_avg_order_value = df.groupby("cuisine")["total_amount"].mean()
print("\nAverage order value by cuisine:\n", cuisine_avg_order_value)

Revenue by cuisine:
 cuisine
Chinese    1930504.65
Indian     1971412.58
Italian    2024203.80
Mexican    2085503.09
Name: total_amount, dtype: float64

Orders by cuisine:
 cuisine
Chinese    2418
Indian     2469
Italian    2532
Mexican    2581
Name: order_id, dtype: int64

Average order value by cuisine:
 cuisine
Chinese    798.389020
Indian     798.466011
Italian    799.448578
Mexican    808.021344
Name: total_amount, dtype: float64

In [51]:
# === CUISINE-WISE PERFORMANCE ===

# Step 1: Total revenue generated by each cuisine
cuisine_revenue = df.groupby("cuisine")["total_amount"].sum()
print("Revenue by cuisine:\n", cuisine_revenue)

# Step 2: Number of orders placed for each cuisine
cuisine_orders = df.groupby("cuisine")["order_id"].count()
print("\nOrders by cuisine:\n", cuisine_orders)

# Step 3: Average order value for each cuisine
cuisine_avg_order_value = df.groupby("cuisine")["total_amount"].mean()
print("\nAverage order value by cuisine:\n", cuisine_avg_order_value)

Revenue by cuisine:
 cuisine
Chinese    1930504.65
Indian     1971412.58
Italian    2024203.80
Mexican    2085503.09
Name: total_amount, dtype: float64

Orders by cuisine:
 cuisine
Chinese    2418
Indian     2469
Italian    2532
Mexican    2581
Name: order_id, dtype: int64

Average order value by cuisine:
 cuisine
Chinese    798.389020
Indian     798.466011
Italian    799.448578
Mexican    808.021344
Name: total_amount, dtype: float64

In [52]:
# === City with Highest Revenue from Gold Members ===

# Step 1: Filter dataset for Gold members only
gold_df = df[df["membership"] == "Gold"]

# Step 2: Aggregate revenue by city
gold_city_revenue = gold_df.groupby("city")["total_amount"].sum()

# Step 3: Identify the city with maximum revenue
highest_revenue_city = gold_city_revenue.idxmax()

print("City with highest revenue from Gold members:", highest_revenue_city)

City with highest revenue from Gold members: Chennai

In [53]:
# === Cuisine with Highest Average Order Value ===

# Step 1: Compute average order value for each cuisine
avg_value_per_cuisine = df.groupby("cuisine")["total_amount"].mean()

# Step 2: Find the cuisine with the maximum average order value
highest_avg_cuisine = avg_value_per_cuisine.idxmax()

print("Cuisine with highest average order value:", highest_avg_cuisine)

Cuisine with highest average order value: Mexican

In [54]:
# --- Distinct Users with Total Spend > ₹1000 ---

# Calculate total spend per user
user_spend = df.groupby("user_id")["total_amount"].sum()

# Filter users whose total spend exceeds ₹1000
high_value_users = user_spend[user_spend > 1000]

# Count distinct users in this group
num_high_value_users = high_value_users.index.nunique()

print("Number of distinct users with spend > ₹1000:", num_high_value_users)

Number of distinct users with spend > ₹1000: 2544

In [55]:
# === Restaurant Rating Range with Highest Revenue ===

# Step 1: Define rating ranges using bins
df["rating_band"] = pd.cut(
    df["rating"],
    bins=[0, 3.5, 4.0, 4.5, 5.0],
    labels=["3.0–3.5", "3.6–4.0", "4.1–4.5", "4.6–5.0"]
)

# Step 2: Aggregate revenue by rating range
revenue_per_band = df.groupby("rating_band")["total_amount"].sum()

# Step 3: Identify the rating range with maximum revenue
highest_revenue_band = revenue_per_band.idxmax()

print("Rating range with highest total revenue:", highest_revenue_band)

Rating range with highest total revenue: 4.6–5.0

/tmp/ipython-input-2664880978.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  revenue_per_band = df.groupby("rating_band")["total_amount"].sum()

In [56]:
# === City with Highest Average Order Value (Gold Members) ===

# Step 1: Select only Gold member records
gold_df = df[df["membership"] == "Gold"]

# Step 2: Calculate average order value for each city
avg_value_per_city = gold_df.groupby("city")["total_amount"].mean()

# Step 3: Identify the city with the maximum average order value
highest_avg_city = avg_value_per_city.idxmax()

print("City with highest average order value among Gold members:", highest_avg_city)

City with highest average order value among Gold members: Chennai

In [57]:
# === Cuisine with Fewest Restaurants but Significant Revenue ===

# Step 1: Compute stats per cuisine
cuisine_summary = df.groupby("cuisine").agg(
    unique_restaurants=("restaurant_id", "nunique"),
    total_revenue=("total_amount", "sum")
)

# Step 2: Sort by restaurant count (ascending) and revenue (descending)
sorted_summary = cuisine_summary.sort_values(
    by=["unique_restaurants", "total_revenue"],
    ascending=[True, False]
)

# Step 3: Select the top cuisine that meets the criteria
top_cuisine = sorted_summary.head(1)

print("Cuisine with fewest restaurants but high revenue:\n", top_cuisine)

Cuisine with fewest restaurants but high revenue:
          unique_restaurants  total_revenue
cuisine
Chinese                 120     1930504.65

In [58]:
# === Percentage of Orders by Gold Members ===

# Step 1: Get total number of orders
total_orders = len(df)

# Step 2: Count orders placed by Gold members
gold_order_count = len(df[df["membership"] == "Gold"])

# Step 3: Compute percentage (rounded to nearest integer)
gold_order_share = round((gold_order_count / total_orders) * 100)

print("Percentage of orders placed by Gold members:", gold_order_share, "%")

Percentage of orders placed by Gold members: 50 %

In [59]:
# === Restaurant with Highest Avg Order Value (Less than 20 Orders) ===

# Step 1: Calculate stats per restaurant
restaurant_summary = df.groupby("restaurant_name_y").agg(
    avg_value=("total_amount", "mean"),
    order_count=("order_id", "count")
)

# Step 2: Filter restaurants with fewer than 20 orders
small_sample_restaurants = restaurant_summary[restaurant_summary["order_count"] < 20]

# Step 3: Sort by average order value (descending) and pick the top one
top_restaurant = small_sample_restaurants.sort_values(
    by="avg_value", ascending=False
).head(1)

print("Restaurant with highest average order value (<20 orders):\n", top_restaurant)

Restaurant with highest average order value (<20 orders):
                      avg_value  order_count
restaurant_name_y
Restaurant_294     1040.222308           13

In [60]:
# === Membership–Cuisine Combination with Highest Revenue ===

# Step 1: Aggregate revenue by membership–cuisine pairs
combo_revenue = df.groupby(["membership", "cuisine"])["total_amount"].sum()

# Step 2: Identify the combination with maximum revenue
highest_revenue_combo = combo_revenue.idxmax()

print("Membership–Cuisine combination with highest revenue:", highest_revenue_combo)

Membership–Cuisine combination with highest revenue: ('Regular', 'Mexican')

In [61]:
# === Quarter with Highest Total Revenue ===

# Step 1: Extract quarter from order_date
df["quarter"] = df["order_date"].dt.quarter

# Step 2: Calculate total revenue per quarter
quarterly_revenue = df.groupby("quarter")["total_amount"].sum()

# Step 3: Identify the quarter with maximum revenue
highest_revenue_quarter = quarterly_revenue.idxmax()

print("Quarter with highest total revenue:", highest_revenue_quarter)

Quarter with highest total revenue: 3

In [62]:
# === Total Orders Placed by Gold Members ===

# Step 1: Filter dataset for Gold membership
gold_df = df[df["membership"] == "Gold"]

# Step 2: Count total number of orders
gold_order_total = len(gold_df)

print("Total orders placed by Gold members:", gold_order_total)

Total orders placed by Gold members: 4987

In [63]:
# === Total Revenue from Hyderabad City ===

# Step 1: Filter dataset for Hyderabad city
hyd_df = df[df["city"] == "Hyderabad"]

# Step 2: Compute total revenue
hyd_revenue = hyd_df["total_amount"].sum()

# Step 3: Round to nearest integer
hyd_revenue_rounded = round(hyd_revenue)

print("Total revenue from Hyderabad city:", hyd_revenue_rounded)

Total revenue from Hyderabad city: 1889367

In [64]:
# === Distinct Users Who Placed Orders ===

# Step 1: Count unique user IDs
unique_users = df["user_id"].nunique()

# Step 2: Display result
print("Number of distinct users who placed at least one order:", unique_users)

Number of distinct users who placed at least one order: 2883

In [65]:
# === Average Order Value for Gold Members ===

# Step 1: Filter dataset for Gold membership
gold_df = df[df["membership"] == "Gold"]

# Step 2: Compute average order value
avg_value_gold = gold_df["total_amount"].mean()

# Step 3: Round to 2 decimal places
avg_value_gold_rounded = round(avg_value_gold, 2)

print("Average order value for Gold members:", avg_value_gold_rounded)

Average order value for Gold members: 797.15

In [66]:
# === Orders for Restaurants with Rating ≥ 4.5 ===

# Step 1: Filter dataset for restaurants with rating ≥ 4.5
high_rated_df = df[df["rating"] >= 4.5]

# Step 2: Count total number of orders
high_rated_order_count = high_rated_df["order_id"].count()

# Step 3: Display result
print("Number of orders for restaurants with rating ≥ 4.5:", high_rated_order_count)

Number of orders for restaurants with rating ≥ 4.5: 3374

In [67]:
# === Orders in Top Revenue City (Gold Members Only) ===

# Step 1: Calculate total revenue by city for Gold members
gold_city_revenue = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
)

# Step 2: Identify the city with maximum revenue
top_revenue_city = gold_city_revenue.idxmax()

# Step 3: Count orders placed in that city by Gold members
gold_orders_in_top_city = df[
    (df["membership"] == "Gold") & (df["city"] == top_revenue_city)
]["order_id"].count()

print("Top revenue city among Gold members:", top_revenue_city)
print("Number of orders placed in that city:", gold_orders_in_top_city)

Top revenue city among Gold members: Chennai
Number of orders placed in that city: 1337

In [68]:
# The column used to join orders.csv and users.json is __________.
# ANS: user_id

# The dataset containing cuisine and rating information is stored in __________ format.
# ANS: restaurants.sql

# The total number of rows in the final merged dataset is __________.
# ANS: 10000

# If a user has no matching record in users.json, the merged values will be __________.
# ANS: NULL / NaN

# The Pandas function used to combine datasets based on a key is __________.
# ANS: merge()

# The column membership in the final dataset originates from the __________ file.
# ANS: users.json

# The join key used to combine orders data with restaurant details is __________.
# ANS: orders.restaurant_id to restaurants.restaurant_id

# The column that helps identify the type of food served by a restaurant is __________.
# ANS: cuisine

# If a user places multiple orders, their personal details appear __________ times in the final merged dataset.
# ANS: once per order